<div class="fields">
<p>
  <%= f.label :content, "Question" %>
  <%= f.link_to_remove "remove" %><br />
  <%= f.text_area :content, :rows => 3 %><br />
</p>
<%= f.fields_for :answers do |builder| %>
  <%= render 'answer_fields', :f => builder %>
<% end %>
<p><%= f.link_to_add "Add Answer", :answers %></p>
</div>

